<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="netos.wallet.main" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="120.27.15.205" />
          <option name="id" value="12ea79e348ed4c158968dba95c4b0354" />
          <option name="name" value="netos.wallet.main" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="cj" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.claf.paychannel.notifyurl.mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.claf.paychannel.notifyurl.model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="cj.db.mappings" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="cj.netos.claf.paychannel.notifyurl.mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.claf.paychannel.notifyurl.program/src" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="cj.netos.claf.paychannel.notifyurl.model" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.claf.paychannel.notifyurl.program/src" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="cj.db.mappings" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.claf.paychannel.notifyurl.program/src" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="netos.wallet.main#channel_account">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="ChannelAccount" />
              <option name="tableComment" value="渠道账户，用于记录充值和提现的余额&#10;目的是采用复试记账，池内外对账平衡。&#10;由于提现充值都是从第三方渠道决清的，因此平台账户应放到网关，以核息内部后续的决清过程是否有出错&#10;&#10;采用最小金额命中策略&#10;" />
              <option name="tableName" value="channel_account" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#channel_bill">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="ChannelBill" />
              <option name="tableComment" value="充值或提现的渠道账单，用于双记账根踪账变，其流水明细与钱包共享充提记录表" />
              <option name="tableName" value="channel_bill" />
            </TableInfo>
          </value>
        </entry>
        <entry key="netos.wallet.main#pay_channel">
          <value>
            <TableInfo>
              <option name="database" value="netos.wallet.main" />
              <option name="domainName" value="PayChannel" />
              <option name="tableComment" value="支付渠道&#10;用户配置的支付渠道" />
              <option name="tableName" value="pay_channel" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>